<?xml version="1.0" encoding="utf-8"?>
<manifest package="spinfotech.androidresearchdev"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".spm.multilevelRecyclerview.MultiRecyclerActivity">

        </activity>
        <activity android:name=".kotlin.KotlinActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity
            android:name=".kotlin.CalculatorActivity"
            android:windowSoftInputMode="stateHidden">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity
            android:name=".spm.materialAnimation.MaterialActivity"
            android:theme="@style/AppThemeDark">
        </activity>
        <activity android:name=".nidhi.NidhiMainActivity">
        </activity>
        <activity android:name=".sarika.SarikaMainActivity">
        </activity>
        <activity android:name=".spm.bottomsheet.BottomsheetMainActivity">

        </activity>
        <activity android:name=".amit.AmitMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>